@(sistema: SistemaDePlanejamentoDeCurso, formHandler: Form[form.FormHandler], message: String)

@import helper._

@main("Meu Curso") {
	
	<style type="text/css">
		<!--
			body {
				margin-top: 0px;
				background-image: url(assets/images/bg.jpg);
				background-repeat: repeat-x;
				background-position: top;
				background-color: #E7E7E7;
			}
		-->
	</style>

	<body>
		<div class="containerWrap">
		  	<div class="header">
    			<h1>Meu Curso</h1>
    			<div class="content" id="wrapper">
      				<article>
        				<h3 class="shad">Planejamento de curso</h3>
        				<center>
        					<img src="assets/images/estudos.jpg" class="img-polaroid" style="width:450; height:280px;">
        				</center>
      				</article>
					<aside>
						<br>
						<br>
						<br>
        				<hgroup>
         					<h1>Bem-vindo ao Meu Curso</h1>
         					<br>
          					<h2>Planeje seu curso com facilidade e rapidez.</h2>
        				</hgroup>
						<br>
    					<br>
    					<br>
    					<br>
    					<br>
    					<br>
    					<br>
    				</aside> 				
    					<font color="black" size=12>Periodos</font>
    	    			<br>
    	    			<br>
    	    			<br>
        				Planeje seus periodos aqui. 
						<div id="colunas">
	 						@for(periodo <- sistema.getPeriodos()) {
	 							<br>
	 							<nome> ------------------------------------------------------- </nome>
	 	 						<br>
		 	  					<h2>	
		 	  						<small> @(sistema.getPeriodos.indexOf(periodo)+1)º periodo </small>
	 		  					</h2>
		  						@for(disciplina <- sistema.getDisciplinasDoPeriodo(sistema.getPeriodos.indexOf(periodo))){
			 						<div id="c1" class="coluna">
			 							<div class="disciplina" name="inputNameDisciplina">
											<nome>@disciplina.getNome() </nome>
											<descricao> ---- @disciplina.getNumeroDeCreditos() creditos</descricao>
											<dificuldade> --- dificuldade: @disciplina.getDificuldade()</dificuldade>
			 							</div>
				 					</div>
			  					}	
			  					<br>
		 		 				<nome> Total de créditos: @sistema.numeroDeCreditosDoPeriodo(sistema.getPeriodos.indexOf(periodo))</nome>
		 		 				<br>
		 		 				<nome> Dificuldade do Período: @sistema.dificuldadeDoPeriodo(sistema.getPeriodos.indexOf(periodo))</nome>
		   						@if(sistema.periodoComCreditosAbaixoDoLimiteMinimo(sistema.getPeriodos().indexOf(periodo))) {
									<br>
									<nome>Aviso: Mínimo de creditos não atingido</nome>
									<br>
		  						}
								<br>
							}
							<br>
							<div id="c2" class="coluna"></div>
							<div id="c3" class="coluna"></div>
							<div id="c4" class="coluna"></div>
							<div id="c5" class="coluna"></div>
							<div id="c6" class="coluna"></div>
							<div id="c7" class="coluna"></div>
							<div id="c8" class="coluna"></div>
						</div>
						@if(message != "") {
			 				<SCRIPT LANGUAGE="JavaScript" TYPE="text/javascript">alert ("@message.toString()")</SCRIPT>
						}
						<br>
						<div id="alocarDisciplina">
							@form(routes.Application.adicionaDisciplinaEmPeriodo()){
								@if(sistema.getPeriodos.size() > 1) {
		    						<nome> --------------------------- </nome>
			   		 				<br>
			    					<nome> Alocar Disciplina a Periodo</nome>
									<br>
									<select class="selectpicker" data-live-search="true" name="inputNameDisciplina" >
        								@for(disciplina <- sistema.listaDisciplinasDoCurso()) { 
											<option value="@disciplina.getNome()" name="inputNameDisciplina" >@disciplina.getNome()</option> 
										}	
        							</select> 
	        						<br>
    	    						<select class="selectpicker" data-width="100px" name="idPeriodo" >
        								@for(periodo <- sistema.getPeriodos()) {
        		   							@if(sistema.getPeriodos().indexOf(periodo) != 0) {
						 						<option value=@(sistema.getPeriodos().indexOf(periodo)+1) name="idPeriodo" >@(sistema.getPeriodos().indexOf(periodo)+1)</option> 
			   								}
										}
        							</select> 
	        						<button type="submit" class="btn btn-primary" type="button">Alocar Disciplina</button>		
    	    					}
							}
						</div>
						<div id="desalocarDisciplina">
							@form(routes.Application.desalocarDisciplinaDePeriodo()){
								@if(sistema.getPeriodos.size() > 1 && !sistema.getDisciplinasAlocadas().isEmpty()) {
			    					<nome> --------------------------- </nome>
			    					<br>
			  	  					<nome> Desalocar Disciplina de Periodo</nome>
									<br>
									<select class="selectpicker" name="inputNameDisciplina" >
										@for(disciplina <- sistema.getDisciplinasAlocadas()) { 
											@if(sistema.indicePeriodoDeDisciplina(disciplina.getNome()) != 0) {
					    						<option value="@disciplina.getNome()" name="inputNameDisciplina" >@disciplina.getNome() ---- periodo : @(sistema.indicePeriodoDeDisciplina(disciplina.getNome())+1)º</option> 
				    						}
										}
									</select> 
									<button type="submit" class="btn btn-primary" type="button">Desalocar</button>
        						}
							}	
						</div>
						<br>
						<div id="addperiodos">
							@form(routes.Application.novoPeriodo()) {
								@if(sistema.numeroDeCreditosDoPeriodo(sistema.getPeriodos().size() -1) < 14) {
									<button type="submit" class="btn btn-large btn-primary disabled" type="button" disabled="disabled">Adicionar periodo</button>
								} else {
									<button type="submit" class="btn btn-large btn-primary type="button">Adicionar periodo</button>
								}
	    					}	
    					</div>
    					<br>
    					<br>
    					<br>
    					<hr>
    					<font color="black" size=12>Grade Curricular</font>
    					<br>
    					<br>
    					<br>
        				<form name="contactformfree" method="post" action="free_process.php" onSubmit="return validate.check(this)">
							<table width="400px" class="cffree">
								<tr>
	 								<td colspan="2"></td>
								</tr>
								<div id="gradeCurricular">
									<table class="table table-hover">
            	       					<tr style="background-color: #8B8B7A;">
                	       					<th >Disciplina</td>
                    	   					<th >Creditos</td>
                    	   					<th >Dificuldade</td>
                       						<th >Requisitos</td>
          	     						</tr>
        								@for(disciplina <- sistema.listaDisciplinasDoCurso()){
            								<tr>
                    							<td >@disciplina.getNome()</td>
                    							<td >@disciplina.getNumeroDeCreditos()</td>
                    							<td >@disciplina.getDificuldade()</td>
                 					   			<td >@disciplina.getPreRequisitosToString()</td>                
            								</tr>
        								}
    								</table>
								</div>
							</table>
        				</form>
        				
    			</div>
			</div>
		</div>
 		<footer>
			<img src="assets/images/fundo_rodape.jpg" class="img-polaroid">
		</footer> 
	</body>
}
