@(form: Form[Application.Login])

<html>
<body style='background-image:url(@routes.Assets.at("images/bg-1.jpg"));'>
    <head>
		<title>Meu Plano de Curso</title>
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
		<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
	</head>
    <body>
        <div id="login" action="none" style="position:absolute;top:80px;">
        	<h1 id="ff-proof" class="ribbon">Meu Plano de Curso &nbsp;&nbsp;</h1>
    		<div class="apple">
    			<!-- <img src="@routes.Assets.at("images/ufcg.png")" class="img-rounded"> -->
			</div>
        	@helper.form(routes.Application.authenticate) {           
            	@if(form.hasGlobalErrors) { 
                	<p class="error">
                	    @form.globalError.message
                	</p>
            	}
            	@if(flash.contains("success")) {
                	<p class="success">
                	    @flash.get("success")
                	</p>
            	}
            	<fieldset id="inputs">
					<input type="login" name="login" placeholder="Email" value="@form("login").value">
        			<input type="password" name="senha" placeholder="Password" value="@form("senha").value">
    			</fieldset>
    			<fieldset id="actions">
        			<input id="submit" value="Entrar" type="submit">
       				<p class="option"><a href="/cadastrar">Cadastrar usuário</a></p>
    			</fieldset>
			}
		</div>
	</body>
</html>
    



