@(form: Form[Application.Cadastro])
<body style='background-image:url(@routes.Assets.at("images/bg-1.jpg"));'>
@if(flash.contains("sucesso")) {
	<script>
	alert('@flash.get("sucesso")');
	window.location.href = "/login" 
	</script>
}
<html>
	<head>
		<title>Novo Cadastro</title>
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
		<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/cadastro.css")">
	</head>
	<body>
		<div id="login" action="none" style="position:absolute;top:80px;">
    		<h1 id="ff-proof" class="ribbon">Fazer Cadastro &nbsp;&nbsp;</h1>
			@helper.form(routes.Application.novoCadastro) {
				@if(flash.contains("fail")) {
    				<p class="fail" style="">
        				<h2 style="color:#FFE1FF;">@flash.get("fail")</h2>
    				</p>
				}
    			 <fieldset id="inputs">
                 	<div id="input">
                    	<input type="text" name="nome" placeholder="Nome" id="nome" onblur="if(this.value=='')this.value='Nome';" onfocus="if(this.value=='Nome')this.value='';">
                        <input type="email" name="login" placeholder="Email" id="username" onblur="if(this.value=='')this.value='Email';" onfocus="if(this.value=='Email')this.value='';">
                        <input type="password" placeholder="Password" required="" id="password" name="senha" onblur="if(this.value=='')this.value='Password';" onfocus="if(this.value=='Password')this.value='';">
                        <br>
                    </div>
                    <div align="left">
                    	<h2>Fluxograma inicial:</h2>
                        <input type="radio" name="fluxograma" id="fluxograma" value="Fluxograma normal">Fluxograma normal</input>
                        <br>
                        <input type="radio" name="fluxograma" id="fluxograma" value="Fluxograma mais ultilizado">Fluxograma mais ultilizado</input>
                        <br>
                        <input type="radio" name="fluxograma" id="fluxograma" value="Fluxograma Novo">Fluxograma Novo</input>
                </div>
                </fieldset>
    			<fieldset id="actions">
        			<input id="submit" value="Cadastrar" type="submit">
    			</fieldset>
    		}
		</div>
	</body>
</html>