@(form: Form[Application.Cadastro])
@if(flash.contains("sucesso")) {
	<script>
	alert('@flash.get("sucesso")');
	window.location.href = "/login" 
	</script>
}


<html>
<head>
<title>Novo Cadastro</title>
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/login.css")">    
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/login.css")">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
	<section id="content">
		@helper.form(routes.Application.novoCadastro) {
			<h1>Fazer Cadastro</h1>
			@if(flash.contains("fail")) {
    		<p class="fail" style="">
        		@flash.get("fail")
    		</p>
			}
			<div>
				<input type="text" name="nome" placeholder="Nome" id="nome"/>
			</div>
			<div>
				<input type="email" name="login" placeholder="Email" id="username"/>
			</div>
			<div>
				<input type="password" placeholder="Password" required="" id="password" name="senha"/>
			</div>
			<div>
				<input type="submit" value="finalizar" />
			</div>
		}<!-- form -->
		</section><!-- content -->
	</div><!-- container -->
	
	@if(form.hasGlobalErrors) {
	    <p class="error">
	        @form.globalError.message
	    </p>
	}
	</body>
	</html>
