@(plano: PlanoDeCurso)

@import helper._

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type='text/javascript' src="@routes.Assets.at("javascripts/funcoes.js")"></script>
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<body style='background-image:url(@routes.Assets.at("images/bg-1.jpg"));'>
@main("Meu Plano de Curso") {
	<center><h2>@Messages("PlanoDeCurso")</h2></center>
	<center><h3 style="position:absolute;left:43%;top:50px;color:#fff;text-shadow:2px 2px #000;">Períodos Do Curso</h3></center>
	<div id="periodos">
		@for(periodo <- plano.getPeriodos()) {
			<div id="@periodo.getNumero()" class="periodo" ondrop="drop(event, this)"
				ondragover="allowDrop(event,this)" ondragleave="leave(event, this)">
		
				<ul style="list-style:none;">
					<span style="width:190px;height:30px;font-size:20px;margin-bottom:10px;margin-left:-40px;" color=#000000>@periodo.getNumero() @Messages("nPeriodo") </span>
					@for(cadeira <- periodo.getDisciplinas()) {
		  				@if(plano.verificaPrerequisito(cadeira.getNome())){
		  					<div class="alocadas-vermelho" id="@cadeira.getNome()" title="remover" draggable="true" 
								ondragstart="drag(event)" ondragend="dragEnd()">
		  				}else{
		  					<div class="alocadas" id="@cadeira.getNome()" title="remover" draggable="true" 
								ondragstart="drag(event)" ondragend="dragEnd()">
		  				}		  	
		  				<center><label class="nome"> <span>@cadeira.getNome()</span></label></center>
		  				<label class="creditos">
		  					<font color=000000>@cadeira.getCreditos() @Messages("creditos")</font> 
		  				</label>
		  				<label class="dificuldade"> 
		  					<font color=000000>dificuldade: @cadeira.getDificuldade()</font> 
		  				</label>
		  		
		  				<span style="margin-top: 5px;margin-left:150px;" 
		  					onclick="removerDisciplina('@cadeira.getNome()', '@plano.isPreRequisito(cadeira.getNome())')"></span>	
		  				</div>
					}	 
				</ul>
				<span class="periodoCreditos">
					<font color=000000>@periodo.getCreditos() @Messages("creditos")</font>
				</span>
				<span class="periodoDificuldade">
					<font color=000000>Dificuldade: @periodo.getDificuldadeTotal()</font>
				</span>
			</div>
		}
	</div>
	<br/>
	<center><div class="separator"> </div> </center>
	
		<h5 style="float:right;width:70%;position:absolute;top:620px;left:90px;margin:0;color:#000000;font-size:18px;
			background-color:#fff;">
			- Arraste a cadeira para o período que você quer alocá-la
		</h5>
		<div style="width:0%;height:500px;overflow-y:auto;margin-top:20px;margin-left:30px;">
			<ul style="list-style:none;overflow-y:auto;margin-top:20px;"> 
				@for(cadeira <- plano.getDisciplinaDispniveisOrdenadas()) {
					<div class="disponiveis" id="@cadeira.getNome()"	draggable="true" 
						ondragstart="drag(event)" ondragend="dragEnd()">
	  						<center><label class="nome">@cadeira.getNome()</label></center>
		  					<label class="creditos">@cadeira.getCreditos() @Messages("creditos")</label>
		  					<label class="dificuldade"> dificuldade: @cadeira.getDificuldade()</label>
	  				</div>
			} 
			</ul>
		</div>	
	}
</body>