@(userName: String, plano: PlanoDeCurso, formHandler: Form[form.FormHandler])

@import helper._

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<body style='background-image:url(@routes.Assets.at("images/bg-1.jpg"));'>
@main("Meu Plano de Curso") {
	<center><h2>Bem vindo(a), @userName.</h2></center>
	<center><h2>@Messages("PlanoDeCurso")</h2></center>
	
	<center>
		<div class="actions">
			<h2 style="position:absolute;left:70%;top:0px;color:#fff">
				<a href="@routes.Application.listarUsuarios()" class="btn">Ver todos os planos</a> 
			</h2>
        </div>
        
        <form action="@routes.Application.listarUsuariosComFiltro()" method="POST">
			<h2 style="position:absolute;left:70%;top:30px;color:#000000">
				<input type="search" id="searchbox" name="search" value=" " placeholder="filtrar por nome de usuario">
				<input type="submit" id="searchsubmit" value="filtrar planos" class="btn primary">
            </h2>
        </form>
        
    </center>
    
	<center><h3 style="position:absolute;left:43%;top:50px;color:#fff;text-shadow:2px 2px #000;">Períodos Do Curso</h3></center>
	<div id="periodos">
		@for(periodo <- plano.getPeriodos()) {
			<div id="@periodo.getNumero()" class="periodo" ondrop="drop(event, this)"
				ondragover="allowDrop(event,this)" ondragleave="leave(event, this)">
		
				<ul style="list-style:none;">
					<span style="width:190px;height:30px;font-size:20px;margin-bottom:10px;margin-left:-40px;" color=#000000>@periodo.getNumero() @Messages("nPeriodo") </span>
					@for(cadeira <- periodo.getDisciplinas()) {
		  				@if(plano.verificaPrerequisito(cadeira.getNome(), periodo.getNumero())){
		  					<div class="alocadas" id="@cadeira.getNome()" title="remover" draggable="true" 
								ondragstart="drag(event)" ondragend="dragEnd()">
		  				}else{
		  					<div class="alocadas-vermelho" id="@cadeira.getNome()" title="A disciplina está vermelha por causa dos seguintes pré-requisitos não satisfeitos: @plano.preRequisitosNaoSatisfeitos(cadeira.getNome()).toString()" draggable="true" 
								ondragstart="drag(event)" ondragend="dragEnd()">
		  				}		  	
		  					<center><label class="nome"> <span>@cadeira.getNome()</span></label></center>
		  					<label class="creditos">
		  						<font color=000000>@cadeira.getCreditos() @Messages("creditos")</font> 
		  					</label>
		  					<label class="dificuldade"> 
		  						<font color=000000>dificuldade: @cadeira.getDificuldade()</font> 
		  					</label>	
		  				</div>
					}	 
				</ul>
				<span class="periodoCreditos">
					<font color=000000>@periodo.getCreditos() @Messages("creditos")</font>
				</span>
				<span class="periodoDificuldade">
					<font color=000000>Dificuldade: @periodo.getDificuldadeTotal()</font>
				</span>
			</div>
		}
		<div id="remove" class="periodo" ondrop="remDisciplina(event)"
			ondragover="allowDrop(event,this)" ondragleave="leave(event, this)">
			<img src="@routes.Assets.at("images/recycle.thumbnail.png")">
			<h5 style="color:#000000;font-size:18px;">Arraste para aqui a disciplina que deseja remover</h5>
		</div>
	</div>
	
	<STYLE> 
		<!-- 
		.teste{position: absolute; top: 665px; left: 50px;} 
		--> 
		<!-- 
		.selectpicker{position: absolute; top: 665px; left: 320px;} 
		-->
		<!-- 
		.test{position: absolute; top: 10px; left: 1200px;} 
		--> 
	</STYLE>  
	<div id="logout" class=test>
		@form(routes.Application.logout()) {
			<button type="submit" class="btn btn-info type" position="fixed" bottom="0px">Sair</button>
	   	}	
    </div>
	<div id="addperiodos" class="teste">
		@form(routes.Application.novoPeriodo()) {
			<button onclick="addPeriodo()" type="submit" class="btn btn-large btn-primary" position="fixed" bottom="0px">Adicionar periodo</button>
	   	}	
    </div>
	
	<br/>
	<center><div class="separator"> </div> </center>
		@if(!plano.minimoCreditosSatisfeitos()) {
			<h5 style="float:right;width:70%;position:absolute;top:620px;left:90px;margin:0;color:#FF0000;font-size:18px;">
				Aviso: Mínimo de créditos não atingido
			</h5>
			<h5 style="float:right;width:70%;position:absolute;top:640px;left:90px;margin:0;color:#000000;font-size:18px;">
				Arraste a cadeira para o período que você quer alocá-la
			</h5>
		} else {
			<h5 style="float:right;width:70%;position:absolute;top:620px;left:90px;margin:0;color:#000000;font-size:18px;">
				Arraste a cadeira para o período que você quer alocá-la
			</h5>
		}
		<h5 style="float:right;width:70%;position:absolute;top:665px;left:500px;margin:0;color:#000000;font-size:18px;">
			Período Atual: @plano.getPeriodoAtual() período
			<br>
			Total de créditos cursados: @plano.getCreditosCursados() créditos
			<br>
			Total de créditos cursados e planejados: @plano.getTotalDeCreditos() créditos
			<br>
			Mínimo necessário para concluir o curso: @plano.getMinimoCreditosConcluir() créditos
		</h5>
		
		@form(routes.Application.setPeriodoAtual()) {
			<h5 style="float:right;width:70%;position:absolute;top:665px;left:200px;margin:0;color:#000000;font-size:18px;">Periodo atual: </h5>
			<select class="selectpicker" data-width="100px" name="idPeriodo" >
        		@for(periodo <- plano.getPeriodos()) {
					@if(periodo.getNumero() == plano.getPeriodoAtual()){
						<option selected value="@(periodo.getNumero())" name="idPeriodo" >@(periodo.getNumero())</option>
					}else{
						<option value="@(periodo.getNumero())" name="idPeriodo" >@(periodo.getNumero())</option>
					}
				}
			</select> 
        	<button type="submit" style="position:absolute;top:660px;left:360px;" class="btn btn-info" type="button">OK</button>		
        }
  
  		<div style="position:absolute;top:800px;left:100px;">
  			<h5 style="float:right;width:70%;margin:0;color:#000000;font-size:40px;">
				Grade
				<br>
				Curricular
			</h5>
  		</div>	
		<div style="position:absolute;top:800px;left:360px;border: 3px solid #4169E1">
			<ul style="list-style:none;overflow-y:auto;margin-top:20px;"> 
				@for(cadeira <- plano.getDisciplinaDispniveisOrdenadas()) {
					<div class="disponiveis" id="@cadeira.getNome()"	draggable="true" 
						ondragstart="drag(event)" ondragend="dragEnd()">
	  						<center><label class="nome">@cadeira.getNome()</label></center>
		  					<label class="creditos">
		  						<font color=000000>@cadeira.getCreditos() @Messages("creditos")</font>
		  					</label>
		  					<label class="dificuldade">
		  						<font color=000000>dificuldade: @cadeira.getDificuldade()</font>
		  					</label>
	  				</div>
			} 
			</ul>
		</div>	
	}
</body>
