@(usuarios: List[Usuario])

@import helper._

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<body style='background-image:url(@routes.Assets.at("images/bg-1.jpg"));'>

@main("Usuarios") {
	
	
	@if(usuarios.size() != 0) {
	
		<ul>
	        <h2>Usuários Cadastrados</h2>
	        <br>
	        <table border="1">
	            <tr>
	                <th>Nome  </th>
	                <th>Email </th>
	                <th>Plano </th>
	            </tr>
	            @for(usuario <- usuarios) {
					<tr>
                        <td>@usuario.getNome()</td>
                        <td>@usuario.getLogin()</td>
                        <td><a href="@routes.Application.verPlano(usuario.getId())">plano - @usuario.getId()</td>
                    </tr>
				}
	        </table>
	    </ul>
	}
	@if(usuarios.size() == 0) { 
		<h2>Nenhum resultado foi encontrado!</h2>
	}
	
	<center>
		<div class="actions">
			<h3 style="position:absolute;left:70%;top:0px;color:#fff">
				<a href="@routes.Application.index()" class="btn">voltar</a> 
			</h3>
        </div>

}
